:root{
    --container-width:1270px;
    --container-padding:15px;
    --secondaru:rgba(15,31,28,0.5);
}

body{
    font-family: 'Poppins', sans-serif;
    color: #0F1F1C;
    background: #F6F6F6;
}

.none{
    display: none !important;
}

.container{
    max-width: var(--container-width);
    padding: 0 var(--container-padding);
    margin: 0 auto;
}
.container-right{
    padding-left: calc( (100% - var(--container-width))/2);
    margin-left: var(--container-padding);
    flex-shrink: 1;
}

/*header*/

.header{
    position: relative;
    overflow: hidden;

    min-height: 935px;
    background: linear-gradient(154deg, #428E5F 0%, #112120 100%), #204434;

    padding-top: 44px;

    color: #fff;
}
.header a{
    color: inherit;

    transition: all .3s ease;
}
.header a.active,
.header a:hover{
    color: #8f8c8c;
}
.header::after{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    height: 96px;

    background: url(../img/header/Vector.svg) center no-repeat;
}

.header__top {
    margin-bottom: 86px;

    align-items: center;
}
.header__row{
    display: flex;
}
.header__content {
    max-width: 587px;
    position: relative;
    z-index: 2;
}
.header__img{
    position: relative;
    flex-grow: 1;
}
.header__img img{
    position: absolute;
    left: -200px;
    top: -160px;

    max-width: unset;
    width: 894px;
    height: 940px;
}
.header__img:after{
    content: '';
    position: absolute;
    right: -20px;
    top: 0;

    width: 830px;
    height: 622px;
    background: url('../img/header/header-elements.svg') 0 0 no-repeat;
}
/*header__content*/
.header__badge {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    border-radius: 15px;
    background: rgba(255, 255, 255, 0.25);
    padding: 11px 30px;
    display: inline-block;

    margin-bottom: 7px;
}
.header__title {
    font-size: 55px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin-bottom: 30px;
}
.header__text {
    font-size: 25px;
    font-style: normal;

    font-weight: 700;
    line-height: normal;
    opacity: .5;

    margin-bottom: 68px;
}
.header__btn {
    color: #FEFEFE;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    border-radius: 27px;
    padding: 26px 47px;
    background: linear-gradient(172deg, #FF7B4E 0%, #FF584E 100%);
}
.header__btn:hover{
    opacity: .6;
    box-shadow: 0 0 15px #FF7B4E;
}
/*nav*/
.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 80px;

    position: relative;
    z-index: 2;
}
.nav__list {
    display: flex;
    justify-content: space-between;
    column-gap: 80px;

    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    align-items: center;
}
.nav__list a{
    position: relative;
}
.nav__list a:after{
    content: '';
    display: block;
    position: absolute;
    width: 0%;
    height: 4px;
    background-color: #8f8c8c;

    transition: all .3s ease;
}
.nav__list a:hover::after,
.nav__list a.active:after{
    width: 100%;
}

.nav__login {
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    display: flex;
    column-gap: 25px;

    align-items: center;
}
/*logo*/
.logo{
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.logo a{
    color: #fff;
}
/*btn*/
.btn{
    padding: 13px 43px;

    border-radius: 100px;
    background: linear-gradient(172deg, #FF7B4E 0%, #FF584E 100%), #FFF;
    box-shadow: 0;

    display: inline-block;
    color: #FFF;

    transition: all .3s ease;
}
.btn:hover{
    opacity: .6;
    box-shadow: 0 0 15px #FF7B4E;
}
/*destinations*/
.destinations {
    padding: 96px 0 100px 0;

    overflow: hidden;
}
.destinations__row {
    display: flex;
    column-gap: 50px;
}
.destinations__content {
    max-width: 456px;
    min-height:456px;
}

.destinations__subTitle {
    color: #0F1F1C;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.destinations__title {
    color: #0F1F1C;
    font-size: 55px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    margin-bottom: 15px;
}
.destinations__text {
    color: #0F1F1C;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: 0.5;

    margin-bottom: 60px;
}
.destinations__btn {
    padding: 24px 44px;

    border-radius: 100px;
    background: linear-gradient(172deg, #FF7B4E 0%, #FF584E 100%), #FFF;
    box-shadow: 0;

    display: inline-block;

    transition: all .3s ease;

    color: #FEFEFE;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    cursor: pointer;
}
.destinations__btn:hover{
    opacity: .6;
    box-shadow: 0 0 15px #FF7B4E;
}

.destinations__slider {
    width: 1110px;
    flex-shrink: 0;
}
/*slider*/
.slider{
    position: relative;
    height: 456px;
}
.slider__item {
    width: 335px;
    height: 402px;
    object-fit: cover;
    border-radius: 35px;

    margin-top: 27px;

    transition: all .3s ease-in;
}
.slider .center .slider__item{
    margin-top: 0;
    width: 335px;
    height: 456px;
}
.slider__btn {
    display: block;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    background: linear-gradient(172deg, #FF7B4E 0%, #FF584E 100%), #8B8B8B;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 35%;
    transform: translateY(50%);
    z-index: 4;
}
.slider__btn-left {
    left: -26px;
}
.slider__btn-right {
    right: -26px;
}
/*customers*/
.cusromers {
    padding: 100px 0 133px;
}
.cusromers__row {
    display: flex;
    column-gap: 68px;
}
.cusromers__img {
    max-width: 478px;
}
.cusromers__img img{
    object-fit: cover;
    max-width: 100%;

    border-radius: 60px;

}
.cusromers__title {
    color: #0F1F1C;
    font-size: 45px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.review {
    margin: 30px 0 0;
}
.review__client {
    display: flex;

    margin-bottom: 44px;
}
.review__client-avatar {
    border-radius: 50%;
    background: #FF794E;

    width: 134px;
    height: 134px;

    overflow: hidden;
}
.review__client-desc {
    padding-left: 30px;
}
.review__client-desc h3{
    color: #0F1F1C;
    font-size: 33px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.review__client-desc p{
    color: #0F1F1C;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.review__text {
    color: #0F1F1C;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    opacity: .5;

    margin-bottom: 24px;
}
.review__rating img{
    max-width: 100%;
    object-fit: cover;
}
/*cta*/
.cta {
    padding: 100px 0 100px;
}
.cta__plate {
    background-color: #FFF;
    border-radius: 60px;

    min-height: 580px;
    padding: 40px 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
}
.cta__plate::before,
.cta__plate::after{
    position: absolute;
    width: 63px;
    height: 83px;

    content: '';
}
.cta__plate::before{
    left: 7%;
    bottom: 10%;
    background: url('../img/cta-el/02.svg');
}
.cta__plate::after{
    top: 7%;
    right: 10%;
    background: url('../img/cta-el/1.svg');
}
.cta__title {
    color: #0F1F1C;
    font-size: 45px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    margin-bottom: 30px;
}
.cta__text {
    color: #0F1F1C;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: .5;

    margin-bottom: 60px;
}
.cta__btn {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    padding: 24px 54px;
    border-radius: 27px;
    background: linear-gradient(172deg, #FF7B4E 0%, #FF584E 100%);

    transition: all .3s ease;
}
.cta__btn:hover{
    opacity: .6;
    box-shadow: 0 0 15px #FF7B4E;
}
/*subscribe*/
.subscribe {
    padding: 35px 0 50px;
}
.subscribe__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}
.subscribe__title {
    color: #0F1F1C;
    font-size: 55px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    margin-bottom: 60px;
}
/*subscribe__form*/
.subscribe__form {
    background-color: #FFF;
    border-radius: 35px;

    padding: 12px 15px 12px 56px;

    display: flex;
    column-gap: 20px;
}
.subscribe__form-input {
    color: #0F1F1C;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    opacity: .5;
}
.subscribe__form-btn {
    color: #FFF;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    border-radius: 35px;
    background: linear-gradient(172deg, #FF7B4E 0%, #FF584E 100%), #FFF;

    padding: 34px 86px;

    transition: all .3s ease;
}
.subscribe__form-btn:hover{
    opacity: .6;
    box-shadow: 0 0 15px #FF7B4E;
}
/*footer*/
.footer{
    padding: 56px 0 74px;
}
.footer__list a{
    color: #0F1F1C;
}
.footer__logo a{
    color: #FF7C4E;
}
.footer__login a{
    color: #FF7C4E;
}
a.btn{
    color: #fff;
}